.userSectionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;

.title{
  margin-bottom: 50px;
  text-align: center;
}
  .cardsContainer {
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 29px;
  }

  @media (min-width: 768px ) and (max-width: 1024px) {
    .cardsContainer {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }
  }
  @media (min-width: 1024px) {
    .cardsContainer {
      grid-template-columns: repeat(3, 1fr);
      max-width: 1170px;
      margin: 0 auto;
    }
  }
}
